version: "3.9"
services:
  # Webserver - reverse proxying all the other containers
  nginx:
    image: macbre/nginx-http3:latest
    container_name: nginx
    volumes:
      - "./nginx/letsencrypt/etc:/etc/letsencrypt:ro"
      - "./nginx/conf.d:/etc/nginx/conf.d/:ro"
      - "./nginx/configs:/etc/nginx/configs:ro"
      - "./nginx/logs/:/var/log/nginx:rw"
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./nginx/ssl/dhparam.pem:/etc/nginx/ssl/dhparam.pem:ro"
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    mem_limit: 1000m
    mem_reservation: 200m
    cpus: 2.0
    restart: always
    labels:
      com.datadoghq.ad.check_names: '["nginx"]'
      com.datadoghq.ad.init_configs: "[{}]"

  # SSL certs
  certbot:
    image: certbot/dns-cloudflare:latest
    container_name: certbot
    volumes:
      - "./letsencrypt/etc:/etc/letsencrypt"
      - "./letsencrypt/var:/var/lib/letsencrypt"
      - "/root/.cloudflare:/root/.cloudflare"
    entrypoint: "/bin/sh -c 'trap exit TERM; sleep 10; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    mem_limit: 50m
    cpus: 0.1
    restart: always

  # Garuda wiki
  wikijs_app:
    image: requarks/wiki:latest
    container_name: wikijs_app
    depends_on:
      - postgres
    volumes:
      - "./wikijs/assets:/wiki/assets/favicons"
    mem_limit: 400m
    mem_reservation: 20m
    cpus: 1.0
    environment:
      DB_TYPE: {{ db_type }}
      DB_HOST: {{ db_host }}
      DB_PORT: {{ db_port }}
      DB_USER: {{ db_user }}
      DB_PASS: {{ db_pass }}
      DB_NAME: {{ db_name }}
    restart: always

  # Privacy friendly analytics
  matomo_app:
    image: matomo:latest
    container_name: matomo_app
    depends_on:
      - matomo_db
    volumes:
      - "./matomo/config:/var/www/html/config"
      - "./matomo/logs:/var/www/html/logs"
      - "./matomo/www:/var/www/html"
    mem_limit: 400m
    mem_reservation: 50m
    cpus: 1.0
    environment:
      MYSQL_PASSWORD: {{ mysql_password }}
      MYSQL_DATABASE: {{ mysql_database }}
      MYSQL_USER: {{ mysql_user }}
      MATOMO_DATABASE_ADAPTER: {{ mysql_database_adapter }}
      MATOMO_DATABASE_TABLES_PREFIX: {{ matomo_database_tables_prefix }}
      MATOMO_DATABASE_USERNAME: {{ matomo_database_username }}
      MATOMO_DATABASE_PASSWORD: {{ matomo_database_password }}
      MATOMO_DATABASE_DBNAME: {{ matomo_database_dbname }}
    restart: always

  matomo_db:
    image: mariadb:latest
    container_name: matomo_db
    command: --max-allowed-packet=64MB
    volumes:
      - "./matomo/db:/var/lib/mysql"
    mem_limit: 400m
    mem_reservation: 50m
    cpus: 1.0
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    restart: always

  # Matrix homeserver
  matrix:
    image: matrixdotorg/synapse:latest
    container_name: matrix
    depends_on:
      - postgres
    volumes:
      - "./matrix/matrix:/data"
    mem_limit: 2048m
    mem_reservation: 200m
    cpus: 3.0
    restart: always

  # Matrix Web client
  matrix_web:
    image: vectorim/element-web
    container_name: element_web
    depends_on:
      - matrix
    volumes:
      - "./matrix/element/config.json:/app/config.json"
    mem_limit: 256m
    mem_reservation: 20m
    cpus: 1.0
    restart: always

  # Admin interface for matrix
  matrix_admin:
    image: awesometechnologies/synapse-admin:latest
    container_name: matrix_admin
    depends_on:
      - matrix
    mem_limit: 256m
    mem_reservation: 20m
    cpus: 1.0
    restart: unless-stopped

  # Matrix to IRC/Discord/Telegram relay
  matterbridge:
    image: 42wim/matterbridge:stable
    container_name: matterbridge
    depends_on:
      - matrix
    volumes:
      - "./matterbridge/matterbridge.toml:/etc/matterbridge/matterbridge.toml:ro"
    mem_limit: 100m
    mem_reservation: 20m
    cpus: 0.2
    restart: unless-stopped

  # Wikijs / Matrix database
  postgres:
    image: postgres:14-alpine
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_USER: {{ postgres_user }}
    volumes:
      - "./postgres/:/var/lib/postgresql/data"
    mem_limit: 2048m
    mem_reservation: 200m
    cpus: 2.0
    restart: always

  # Private network
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    user: root
    volumes:
      - "./cloudflared:/root/.cloudflared"
    mem_limit: 50m
    mem_reservation: 10m
    cpus: 0.2
    restart: always
