#!/bin/sh
. /root/.borg_secret
export BORG_REPO=ssh://borg@{{ borg_repo_address }}:{{ borg_repo_port }}//{{ borg_repo_dir }}/{{ inventory_hostname }}

info() { printf "\n%s %s\n\n" "$(date)" "$*" >&2; }
trap 'echo $( date ) Backup interrupted >&2; exit 2' INT TERM

info "Starting backup"

borg create \
  --verbose \
  --filter AME \
  --list \
  --stats \
  --show-rc \
  --compression zstd \
  --exclude-caches \
  ::'{hostname}-{now}' \
  {{ borg_dir }}

backup_exit=$?

info "Pruning repository"

borg prune \
  --list \
  --prefix '{hostname}-' \
  --show-rc \
  --keep-daily 3 \
  --keep-weekly 2 \
  --keep-monthly 2

prune_exit=$?

global_exit=$((backup_exit > prune_exit ? backup_exit : prune_exit))

if [ ${global_exit} -eq 0 ]; then
  info "Backup and Prune finished successfully"
elif [ ${global_exit} -eq 1 ]; then
  info "Backup and/or Prune finished with warnings"
else
  info "Backup and/or Prune finished with errors"
fi

exit ${global_exit}
