version: "3.9"
services:
  # Private network
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    user: root
    volumes:
      - "./cloudflared:/root/.cloudflared"
    mem_limit: 50m
    mem_reservation: 10m
    cpus: 0.2
    restart: always

  # Crowdsec main node
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    depends_on:
      - crowdsec_db
    environment:
      GID: {{ crowdsec_gid }}
    volumes:
      - "./crowdsec/config:/etc/crowdsec/"
    mem_limit: 300m
    mem_reservation: 50m
    cpus: 1.0
    restart: always

  crowdsec_db:
    image: postgres:latest
    container_name: crowdsec_db
    environment:
      POSTGRES_PASSWORD: {{ crowdsec_password }}
      POSTGRES_USER: {{ crowdsec_user }}
      POSTGRES_DB: {{ crowdsec_db }}
    volumes:
      - "./crowdsec/postgres:/var/lib/postgresql/data"
    mem_limit: 256m
    mem_reservation: 20m
    cpus: 0.5
    restart: always

  cloudflare-bouncer:
    image: crowdsecurity/cloudflare-bouncer:latest
    container_name: crowdsec_cf_bouncer
    volumes:
      - ./crowdsec/cf_bouncer/cfg.yaml:/etc/crowdsec/bouncers/crowdsec-cloudflare-bouncer.yaml
    mem_limit: 100m
    mem_reservation: 10m
    cpus: 0.3
    restart: always
