%echo Generating a basic OpenPGP key
Key-Type: 1
Key-Length: {{ gpg_keylength }}
{% if gpg_subkeylength > 0 %}
Subkey-Type: 1
Subkey-Length: {{ gpg_subkeylength }}
{% endif %}
Name-Real: {{ caur_sign_realname }}
Name-Email: {{ gpg_useremail }}
Expire-Date: {{ gpg_expire }}
{% if gpg_passphrase is defined and gpg_passphrase %}
Passphrase: {{ gpg_passphrase }}
{% else %}
%no-ask-passphrase
%no-protection
{% endif %}
%pubring {{ gpg_pubkeyfile }}
%commit
%echo done