[stream]
    api key = {{ netdata_stream_token }}
    buffer size bytes = 15728640
    destination = {{ netdata_stream_parent_ip }}
    enable compression = yes
    enabled = yes
    timeout seconds = 360

[logs]
    debug log = none
    error log = none
    access log = none
