version: "3.9"
services:
  # Garuda Cloud
  nextcloud_app:
    image: linuxserver/nextcloud:latest
    container_name: nextcloud
    depends_on:
      - nextcloud_db
      - nextcloud_redis
    environment:
      PUID: {{ puid }}
      PGID: {{ pgid }}
      TZ: {{ tz }}
    ports:
      - 443:443
    volumes:
      - "./nextcloud/config:/config"
      - "./nextcloud/data:/data"
    restart: always

  nextcloud_db:
    image: mariadb:latest
    container_name: nextcloud_db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
      MYSQL_PASSWORD: {{ mysql_password }}
      MYSQL_DATABASE: {{ mysql_database }}
      MYSQL_USER: {{ mysql_user }}
    volumes:
      - "./nextcloud/db:/var/lib/mysql"
    restart: always

  nextcloud_redis:
    image: redis:latest
    container_name: nextcloud_redis
    environment:
      ALLOW_EMPTY_PASSWORD: {{ allow_empty_password }}
    restart: always