version: "3.9"
services:
  # Garuda Cloud
  nextcloud_app:
    image: linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      PUID: {{ puid }}
      PGID: {{ pgid }}
      TZ: {{ tz }}
    ports:
      - 443:443
    volumes:
      - "./nextcloud/config:/config"
      - "./nextcloud/data:/data"
    restart: always
    labels:
      - "diun.enable=true"

  nextcloud_db:
    image: mariadb:latest
    container_name: nextcloud_db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
      MYSQL_PASSWORD: {{ mysql_password }}
      MYSQL_DATABASE: {{ mysql_database }}
      MYSQL_USER: {{ mysql_user }}
    volumes:
      - "./nextcloud/db:/var/lib/mysql"
    restart: always
    labels:
      - "diun.enable=true"

  nextcloud_redis:
    image: redis:latest
    container_name: nextcloud_redis
    environment:
      ALLOW_EMPTY_PASSWORD: {{ allow_empty_password }}
    restart: always
    labels:
      - "diun.enable=true"

  # Automatic container updates
  diun:
    image: crazymax/diun:latest
    container_name: diun
    command: serve
    volumes:
      - "./diun:/data"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      DIUN_NOTIF_TELEGRAM_CHATIDS: {{ diun_notif_telegram_chatids }}
      DIUN_NOTIF_TELEGRAM_TOKEN: {{ diun_notif_telegram_token }}
      DIUN_PROVIDERS_DOCKER: {{ diun_providers_docker }}
      DIUN_WATCH_SCHEDULE: "{{ diun_watch_schedule }}"
      DIUN_WATCH_WORKERS: {{ diun_watch_workers }}
      LOG_JSON: {{ log_json }}
      LOG_LEVEL: {{ log_level }}
    restart: always
    labels:
      - "diun.enable=true"
