version: "3.8"
services:
  # Private network
  cloudflared:
    image: cloudflare/cloudflared:2022.5.3
    container_name: cloudflared
    command: tunnel run
    user: root
    restart: always
    volumes:
      - "./cloudflared:/root/.cloudflared"
