version: "3.9"
services:
  # Webserver
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - "/srv/http/repos:/var/lib/nginx/html/builds/repos:ro"
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./conf.d:/etc/nginx/conf.d:ro"
    ports:
      - "80:80"
    mem_limit: 800m
    mem_reservation: 20m
    cpus: 4.0
    restart: always

  # Synchronizing the repo
  syncthing:
    image: linuxserver/syncthing:latest
    container_name: garuda-syncthing
    environment:
      PUID: {{ puid }}
      PGID: {{ pgid }}
      TZ: {{ tz }}
    ports:
      - "22000:22000"
      - "21027:21027/udp"
    volumes:
      - "./syncthing:/config"
      - "/srv/http/repos:/srv/http/repos"
    mem_limit: 1g
    mem_reservation: 150m
    cpus: 6.0
    restart: always

  # GitLab runner for deployments
  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./gitlab-runner:/etc/gitlab-runner"
    mem_limit: 10g
    cpus: 8.0
    restart: always

  # Private network
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    user: root
    volumes:
      - "./cloudflared:/root/.cloudflared"
    mem_limit: 50m
    mem_reservation: 10m
    cpus: 0.2
    restart: always